# Dependencies
node_modules

# Next.js
.next
out

# Build
dist
dist-ssr

# Env
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/dev.db*

# Hardhat / contracts
contracts/node_modules
contracts/cache
contracts/artifacts
contracts/typechain-types
contracts/coverage
contracts/coverage.json
